@model IEnumerable<FineOnlinePaymentSystem.Models.Fine>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Fines</h1>

<p>
    <a asp-action="CreateFine">Create New Fine</a>
</p>
<form class="form-inline" asp-action="Index" method="get">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

    <input type="text" id="caseNumber" maxlength="15" name="caseNumber" class="form-control col-md-2  mr-1" placeholder="Search By Case Number" />

    <input type="submit" value="Search" class="btn btn-light" />
    @*<span asp-validation-for="" class="text-danger"></span>*@

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case.CaseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case.CaseNumber)
            </td>
            <td width="1000px">
                @Html.DisplayFor(modelItem => item.Case.CaseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineStatus.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FineID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.FineID">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
    $(document).ready(function () {


        $("#caseNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ListByCaseNUmber2")",
                    data: { caseNumber: $("#caseNumber").val() },
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {

                            return { value: item };
                        }));

                    },

                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                })
            }
        })
    })
    </script>
}