@model IEnumerable<FineOnlinePaymentSystem.Models.CaseOffender>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
    <h4>Offenders</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                   Surname
                </th>
                <th>
                    PIN
                </th>
                <th>
                    Age
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
                @*<th>Actions</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Offender.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Offender.Surname)
                </td>                                 
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Offender.PIN)
                </td>                               
                <td>
                   
                    @Html.DisplayFor(modelItem => item.Offender.Age)
                </td>                                 
                <td>
            @*@Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>*@
        <td>
            @*<a asp-action="Edit" asp-route-id="@item.OffenderID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.OffenderID">Details</a> |*@
            @*<a asp-action="Delete" asp-route-id="@item.OffenderID">Delete</a>*@
        </td>
            </tr>
            }
        </tbody>
    </table>