@model FineOnlinePaymentSystem.Models.Case
@*@{
        ViewData["Title"] = "Create";
    }*@

<div style="position: absolute; top: 0; right: 0; margin-top:70px">
    <div class="toast" id="toast1" role="alert" aria-live="assertive" aria-atomic="true" data-delay="7000">
        <div class="toast-header">
            <img src="" class="rounded mr-2" alt="...">
            <strong class="mr-auto">@ViewBag.MessageType</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            @ViewBag.Message
        </div>
    </div>
</div>

<h4>Capture Case</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="row">
                <div class="col-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CaseNumber" class="control-label"></label>
                        <input asp-for="CaseNumber" class="form-control" />
                        <span asp-validation-for="CaseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseDescription" class="control-label"></label>
                        <textarea rows="4" asp-for="CaseDescription" class="form-control"></textarea>
                        <span asp-validation-for="CaseDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CrimeLocation" class="control-label"></label>
                        <input asp-for="CrimeLocation" class="form-control" />
                        <span asp-validation-for="CrimeLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfCrime" class="control-label"></label>
                        <input asp-for="DateOfCrime" class="form-control" />
                        <span asp-validation-for="DateOfCrime" class="text-danger"></span>
                    </div>
                    <div class="form-group d-inline">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    @*<div class="form-group d-inline">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Offender</a>
                        </div>*@
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="DateOfArrest" class="control-label"></label>
                        <input asp-for="DateOfArrest" class="form-control" />
                        <span asp-validation-for="DateOfArrest" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourtDate" class="control-label"></label>
                        <input asp-for="CourtDate" class="form-control" />
                        <span asp-validation-for="CourtDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OfficerID" class="control-label">Force Number</label>
                        <input type="text" asp-for="@Model.Officer.ForceNumber" id="officer" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Offence" class="control-label"></label>
                        <select asp-for="OffenceID" class="form-control" asp-items="ViewBag.OffenceID">
                            <option value="">Select Offence</option>
                        </select>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="CaseStatusID" class="control-label"></label>
                            <select asp-for="CaseStatusID" class ="form-control" asp-items="ViewBag.CaseStatusID"></select>
                        </div>*@
                </div>
                <div class="col-md-4" id="offenders">

                </div>

            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
<div class="col-4">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title align-left"> Add Offender</h3>
                    <a href="#" class="close fa-align-right" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form class="form-inline" asp-action="SearchByPinCreate" method="get" id="pinForm">
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                        <input type="text" name="pin" id="pin" class="form-control col-md-6  mr-1" placeholder="Search By PIN" />
                        <input type="button" value="Add" class="btn btn-light" id="btnSubmit" />
                        @*<span asp-validation-for="Name" class="text-danger"></span>*@

                    </form>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            $(".toast").toast('show')

        </script>
    }



    <script type="text/javascript">
    $(document).ready(function () {
        $("#officer").autocomplete({
            source: function (request,response) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SearchByForceNumber")",
                    data: { forceNumber: $("#officer").val() },
                    cache:false,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {

                            return { value: item} ;
                        }));

                    },

                    error: function  (xhr,status,error) {
                        alert("Error");
                    }
                })
            }
        })


        $("#btnSubmit").click(function () {
            var data = $("#pinForm").serialize();
            @*var caseId = @Model.CaseID;*@
            $.ajax({
                type: "GET",
                url: "@Url.Action("SearchByPinCreate")?" + data,
                success: function (response) {
                    $("#offenders").html(response)
                    $("#pin").val("");
                    $("#myModal").modal('hide');
                    @*@{
                        ViewBag["offendernder1"] = ViewBag["Offenders"] as IEnumerable<Offender>;
                    }*@

                }
            })
        })

    })
    </script>
}
