@model FineOnlinePaymentSystem.Models.Case

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-3 mr-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CaseID" />
                    <div class="form-group">
                        <label asp-for="CaseNumber" class="control-label"></label>
                        <input asp-for="CaseNumber" class="form-control" />
                        <span asp-validation-for="CaseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseDescription" class="control-label"></label>
                        <textarea rows="4" asp-for="CaseDescription" class="form-control"></textarea>
                        <span asp-validation-for="CaseDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CrimeLocation" class="control-label"></label>
                        <input asp-for="CrimeLocation" class="form-control" />
                        <span asp-validation-for="CrimeLocation" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateOfCrime" class="control-label"></label>
                        <input asp-for="DateOfCrime" class="form-control" />
                        <span asp-validation-for="DateOfCrime" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
            <label asp-for="CaseStatusID" class="control-label"></label>
            <select asp-for="CaseStatusID" class="form-control" asp-items="ViewBag.CaseStatusID"></select>
            <span asp-validation-for="CaseStatusID" class="text-danger"></span>
        </div>*@
                    <div class="form-group d-inline">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="form-group d-inline">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Offender</a>
                    </div>
                </div>
                <div class="col-md-3 mr-3">
                   
                    <div class="form-group">
                        <label asp-for="DateOfArrest" class="control-label"></label>
                        <input asp-for="DateOfArrest" class="form-control" />
                        <span asp-validation-for="DateOfArrest" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourtDate" class="control-label"></label>
                        <input asp-for="CourtDate" class="form-control" />
                        <span asp-validation-for="CourtDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Forcer Number</label>
                        <input asp-for="@Model.Officer.ForceNumber" type="text" id="officer" class="form-control" />
                        <span asp-validation-for="@Model.Officer.ForceNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Offence" class="control-label"></label>
                        <select asp-for="OffenceID" class="form-control" asp-items="ViewBag.OffenceID"><option value="">Select Offence</option></select>
                        <span asp-validation-for="OffenceID" class="text-danger"></span>
                    </div>
                </div>
                
                
                <div class="col-md-3">
                    @if (Model.CaseOffenders.Count > 0)
                    {
                    <h4>Offenders</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Surname
                                    </th>
                                    <th>
                                        PIN
                                    </th>
                                    <th>
                                        Age
                                    </th>
                                    @*<th>
                            Nationality
                        </th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CaseOffenders)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Offender.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Offender.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Offender.PIN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Offender.Age)
                                        </td>
                                        @*<td>
                                @Html.DisplayFor(modelItem => item.Nationality)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HomeAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Name)
                            </td>*@
                                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.OffenderID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.OffenderID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.OffenderID">Delete</a>
                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close fa-align-right" data-dismiss="modal">&times;</a>
                <h3 class="modal-title align-left"> Add Offender</h3>
            </div>
            <div class="modal-body">
                <form class="form-inline" asp-action="SearchByPin" method="get" id="pinForm">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                    <input type="text" name="pin" id="pin" class="form-control col-md-6  mr-1" placeholder="Search By PIN" />
                    <input type="button" value="Add" class="btn btn-light" id="btnSubmit" />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@

                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var data = $("#pinForm").serialize();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SearchByPin")?"+ data,
                success: function (response) {   
                    $("#pin").text() = "";
                    $("#myModal").modal("hide");
                    $.ajax({
                        type: "Get",
                        url: "@Url.Action("Edit")" 
                    })
                }
            })
        })

        $("#officer").autocomplete({
            source: function (request,response) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SearchByForceNumber")",
                    data: { forceNumber: $("#officer").val() },
                    cache:false,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {

                            return { value: item} ;
                        }));
                        
                    },
                   
                    error: function  (xhr,status,error) {
                        alert("Error");
                    }
                })
            }
        })
    

    })
</script>
}
