@model IEnumerable<FineOnlinePaymentSystem.Models.Offender>

@{
    ViewData["Title"] = "Offenders";
}

<h1>Our List of Offenders</h1>

<p>
    <a asp-action="Create">Create New Offender</a>
</p>
<form class="form-inline" asp-action="Index" method="get">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

    <input type="text"  maxlength="15" name="pin" class="form-control col-md-2  mr-1" placeholder="Search By PIN" />
    
    <input type="submit" value="Search" class="btn btn-light" />
    @*<span asp-validation-for="" class="text-danger"></span>*@

</form>
<form class="form-inline" asp-action="Index" method="get">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@


    <select name="Status" class="form-control col-md-2 mr-1" asp-items="@ViewBag.StatusID as SelectList"><option value="">Select Status</option> </select>
    <input type="submit" value="Search" class="btn btn-light" />
    @*<span asp-validation-for="Name" class="text-danger"></span>*@

</form>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OffenderID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.OffenderID">Details</a> |
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.OffenderID">Delete</a>
                        }

                    </td>
                </tr>
            }
           

        </tbody>
    </table>
}
