@model IEnumerable<FineOnlinePaymentSystem.Models.Offence>
@*@{
        ViewData["Title"] = "ViewFineCharges";
    }*@

<h1>Fine Charges Table</h1>
@if (User.IsInRole("SuperAdmin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <td>
                        <a asp-action="EditViewFineCharges" asp-route-id="@item.OffenseID">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.OffenseID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.OffenseID">Delete</a>*@
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
